{% extends 'main.html' %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>George Okubi</h2>
            <p>Full-Stack Developer | Python-Django Specialist</p>
              <p><i>I create efficient, scalable, and user-focused web applications that bring ideas to life</i></p>
                <a href="{% url 'portfolio' %}" class="btn-get-started">View My Work</a>
            <a href="{% url 'contact' %}" class="btn-get-started">What's on your mind?</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>
{% endblock content %}

