{% extends 'main.html' %}
{% block content %}


    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>A snapshot of where I've been, and the skills I bring forward.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>George Okubi</h4>
              <p><em>Full-Stack Developer specialized in Python-Django, experienced in creating scalable and user-friendly web applications.
                  Passionate about clean code, problem-solving, and delivering impactful digital solutions.</em></p>
              <ul>
                <li>Nairobi, Kenya</li>
                <li>+254707494613</li>
                <li>george@georgeokubi.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Full-Stack Software Development (MIT)</h4>
              <h5>2024 - 2025</h5>
              <p><em>eMobilis Technology Training Institute, Nairobi.</em></p>
              <p>Completed intensive training in Full-Stack Software Development with a focus on Python-Django,
              JavaScript, databases, and modern web technologies. Gained hands-on experience in building scalable
               applications, responsive user interfaces, and deploying real-world projects.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Bachelor of Economics & Statistics</h4>
              <h5>2012 - 2016</h5>
              <p><em>South Eastern Kenya University</em></p>
              <p>Developed strong skills in quantitative analysis, econometric modeling, and statistical computing.
               Experienced in R, SPSS, and advanced Excel for building predictive models- a foundation that complements my software development expertise.</p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior Software Developer</h4>
              <h5>2024 - Present</h5>
              <p><em>Heronet Cyber Technologies, Busia, Kenya. </em></p>
              <ul>
                <li>Designed and developed heronetcyber.co.ke</li>
                <li>Designed and manages an e-commerce store for heronetcyber.co.ke. </li>
                <li>Managed a small team of developers in the expansion of the e-commerce store for Heronet Cyber Technologies</li>
                <li>20+ websites built with my small team of developers and freelancers.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Assistant Software Developer</h4>
              <h5>November 2024 - May 2025</h5>
              <p><em>Abt Global Associates/PMI Evolve, Kisumu, Kenya.</em></p>
              <ul>

                <li>Testing and debugging the DHIS-2 software to ensure optimal functionality and reliability during data collection.</li>
                <li>Installation and configuration of the DHIS-2 app to android phones for data collection. </li>
                <li>Syncing data collected to the server.</li>

              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>
{% endblock content %}

